*.code-workspace
*.DS_Store
*.in
*.out
*.png
*.zip

05_lab/task5
06_lab/task6
lectures

04_lab/binarysearch.py
05_lab/05c_linkedmap_t4.go
05_lab/LinkedMap.py
05_lab/test.py
06_lab/06d_quack_t4.py
06_lab/quack.py
06_lab/quack_v2.py
06_lab/quack_mil.py
06_lab/test.py
07_lab/test.go
go_intro.go
