*.in
*.out
*.code-workspace
*.zip
*.png

04_lab/binarysearch.py
lectures
.DS_Store
06_lab/quack.py
06_lab/quack_v2.py
06_lab/quack_mil.py
06_lab/test.py
05_lab/test.py
go_intro.go
06_lab/task6
06_lab/06d_quack_t4.py
05_lab/LinkedMap.py
05_lab/05c_linkedmap_t4.go
